/* container styling  */
* {
  margin: auto;
  padding: 0px;
  -ms-font-smoothing: antialiased;
  

}

.container {
  background-image: url("../assets/backPatArt.jpg");
  opacity: 0.9;
  margin: auto;
}

/* header styling  */

#about {
  font-weight: 600;
  color: #0d5323;
  background: #a3ffb9;
  background: -moz-linear-gradient(left, #a3ffb9 0%, #d4d4d4 50%, #ffffff 100%);
  background: -webkit-linear-gradient(left, #61d17b 0%, #d4d4d4 50%, #f3f6f3 100%);
  background: linear-gradient(to right, #c1efcc 0%, #ffffff 50%, #22b344c4 100%);
}

.card {
  margin: 20px;
  color: white;
}

.header {
  text-shadow: 10px 10px 4px #ffffff;
  min-height: 50px;
  line-height: 1.5;
  font-size: 1.2rem;
  color: #167133;
  padding: 20px;
  display: flex;
  align-self: center;
  border-radius: 10px;
  background: #a3ffb9;
  background: -moz-linear-gradient(left, #a3ffb9 0%, #d4d4d4 50%, #ffffff 100%);
  background: -webkit-linear-gradient(left, #61d17b 0%, #d4d4d4 50%, #f3f6f3 100%);
  background: linear-gradient(to right, #c1efcc 0%, #ffffff 50%, #22b344c4 100%);
}

.content {
  padding: 20px;
}


/* greeting styling */
button {
  padding: 0.5rem 1rem;
  color: #1b5811;
  cursor: pointer;
  text-align: center;
  border-radius: 50px !important;
  background-color: #8bdd7e;
}



 button:hover{
  box-shadow: 5px 5px 4px #074c6c;

  transition: 250ms ease-in-out; 
  transform: 150ms ease;
  transform: rotate(360deg);
    transition: ease-out 0.5s;
    
  border-radius: 50px;
}

.form {
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  border-radius: 40%;
  transition: 250ms ease-in-out; 
  transform: 150ms ease;
  color: #edf9f2;
  font-weight: 450;
  font-size: large;
  text-shadow: 10px 10px 4px #cbf3dc;
  }

/* nav styling  */
nav {
  min-height: 8vh;
  background: #44815f;
  border-radius: 5px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}


#navbar li {
  text-decoration: none;
  font-weight: 600;
  list-style: none;
  transition: 0.3s ease-in-out;
}

#navbar a {
  border: none;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #8bdd7e;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: 250ms ease-in-out; 
  transform: 150ms ease;
  }

#navbar a:hover{
  text-shadow: 10px 10px 4px #041a0d;
  font-size: larger;
}

#navbar a:focus {
  outline-offset: -4px;
  
}

#navbar a:active {
  transform: scale(0.99);
}

#darkMode {
  height: 5vmin;
  pointer-events: cursor;
}

@media (prefers-reduced-motion: no-preference) {
  #darkMode {
    animation: darkMode-spin infinite 10s linear;
  }
}

  @keyframes darkMode-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  


.burger-bar {
    width: 4em;
    height: 0.5em;
    background-color: rgb(0, 183, 255);
    border-radius: 0.5em;
}


.menu {
    width: 50%;
    height: 100vh;
    background-color: rgb(154, 181,240);
    top: 0;
    z-index: -1;
}

.burger div {
  width: 25px;
  height: 1vh;
  border-radius: 40%;
  background-color: rgb(57, 218, 236);

}
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

 .burger-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(-0.2em, 1.25em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(140deg) translate(0.5em, 1em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    border: 1px solid black;
}

@media screen and (max-width: 768px) {
  #navbar li {
    display: none;
    transform: translateX(100%);
  }
  .hidden {
    display: block;
    flex-direction: column;
    padding-top: 10px;
  }

  #navbar-active {
    transform: translateX(0%);
  }
}

/* resume & carousel styling */
#port {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  background: #a3ffb9;
  box-shadow: 5px 5px 15px 5px #000000;
-webkit-box-shadow: 5px 5px 15px 5px #000000;
  background: -moz-linear-gradient(left, #a3ffb9 0%, #d4d4d4 50%, #ffffff 100%);
  background: -webkit-linear-gradient(left, #61d17b 0%, #d4d4d4 50%, #f3f6f3 100%);
  background: linear-gradient(to right, #c1efcc 0%, #ffffff 50%, #22b344c4 100%);
}

.card-body {
  text-decoration: none;
  font-size: 1.3rem;
  transition: 0.3s ease-in-out;
  border: none;

  }

#resume.card.text-center {
  color: #1b5811;
  background: #a3ffb9;
  box-shadow: 5px 5px 15px 5px #000000;
-webkit-box-shadow: 5px 5px 15px 5px #000000;
  background: -moz-linear-gradient(left, #a3ffb9 0%, #d4d4d4 50%, #ffffff 100%);
  background: -webkit-linear-gradient(left, #61d17b 0%, #d4d4d4 50%, #f3f6f3 100%);
  background: linear-gradient(to right, #c1efcc 0%, #ffffff 50%, #22b344c4 100%);


}  

#resume.card.text-center button{
  color: #1b5811;
}  

.title {
  color: #1b5811;
  text-decoration: dashed;
  
}

/* contact form styling */
#contactForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: #1b5811;
  background: #a3ffb9;
  box-shadow: 5px 5px 15px 5px #000000;
-webkit-box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 15px;
  background: -moz-linear-gradient(left, #a3ffb9 0%, #d4d4d4 50%, #ffffff 100%);
  background: -webkit-linear-gradient(left, #61d17b 0%, #d4d4d4 50%, #f3f6f3 100%);
  background: linear-gradient(to right, #c1efcc 0%, #ffffff 50%, #22b344c4 100%);

}


/* footer styling */

footer {
  min-height: 50px;
  line-height: 3.5;
  font-size: 1.2rem;
  color: #f4f4f2;
  padding: 20px;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}

footer a:hover{

  transition: 250ms ease-in-out; 
  transform: 150ms ease;
  transform: rotate(360deg);
    transition: ease-out 0.5s;
    
  border-radius: 50px;
}